Repository fabn/terraform-kubernetes-workload: changes, and which lefthook commands are due for each by the changed paths.
All: actionlint, terraform-format

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

min_version: 1.7.0

pre-push: &pre-push
  parallel: true
  commands:
    actionlint:
      glob: ".github/workflows/**.*"
      run: actionlint
    terraform-format:
      glob: "*.{tf,hcl}"
      exclude: ".lock.hcl"
      run: terraform fmt -check -recursive {push_files}
    terraform-validate:
      glob: "*.tf"
      run: terraform validate -no-color

pre-commit:
  commands:
    actionlint:
      glob: ".github/workflows/**.*"
      run: actionlint
    terraform-format:
      glob: "*.{tf,hcl}"
      exclude: ".lock.hcl"
      stage_fixed: true
      run: terraform fmt {staged_files}

# Run all validations manually with: lefthook run validate-all
validate-all: *pre-push

Add ConfigMap and Secret standalone submodules
  .github/workflows/test.yml
  README.md
  examples/standalone-config-map/main.tf
  examples/standalone-config-map/outputs.tf
  examples/standalone-config-map/versions.tf
  examples/standalone-secret/main.tf
  examples/standalone-secret/outputs.tf
  examples/standalone-secret/versions.tf
  modules/config-map/README.md
  modules/config-map/main.tf
  modules/config-map/outputs.tf
  modules/config-map/variables.tf
  modules/config-map/versions.tf
  modules/secret/README.md
  modules/secret/main.tf
  modules/secret/outputs.tf
  modules/secret/variables.tf
  modules/secret/versions.tf
  tests/config_map.tftest.hcl
  tests/secret.tftest.hcl
Due: actionlint, terraform-format

Add log exclusion support with log_processing_rules format
  README.md
  examples/with-datadog/main.tf
  modules/datadog/main.tf
  tests/datadog.tftest.hcl
Due: terraform-format

Add local settings to gitignore
  .gitignore
Due: none

Enable workflow lint for pull requests
  .github/workflows/actionlint.yml
Due: actionlint

Remove kind and matrix from unit tests
  .github/workflows/test.yml
Due: actionlint

Fix variable validation for nullable fields
  variables.tf
Due: terraform-format

Add E2E tests with Kind cluster
  .github/workflows/e2e.yml
  e2e/deployment.tftest.hcl
  e2e/ingress.tftest.hcl
  e2e/main.tf
  e2e/modules/http/main.tf
  e2e/modules/ingress-controller/main.tf
  e2e/outputs.tf
  e2e/variables.tf
  e2e/versions.tf
Due: actionlint, terraform-format

Fix terraform formatting in ingress-controller module
  e2e/modules/ingress-controller/main.tf
Due: terraform-format

Fix unit test workflow to init in tests directory
  .github/workflows/test.yml
Due: actionlint

Fix unit test workflow to run from root directory
  .github/workflows/test.yml
Due: actionlint

Add E2E tests with Kind cluster (#2)
  .github/workflows/actionlint.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  e2e/deployment.tftest.hcl
  e2e/ingress.tftest.hcl
  e2e/main.tf
  e2e/modules/http/main.tf
  e2e/modules/ingress-controller/main.tf
  e2e/outputs.tf
  e2e/variables.tf
  e2e/versions.tf
  variables.tf
Due: actionlint, terraform-format

Update release-drafter.yml
  .github/release-drafter.yml
Due: none

Move docsite into its own file
  .github/workflows/e2e.yml
  e2e/main.tf
  e2e/outputs.tf
  e2e/variables.tf
  e2e/versions.tf
  locals.tf
  main.tf
  outputs.tf
  variables.tf
  versions.tf
Due: actionlint, terraform-format

Add SOPS encrypted files support
  e2e/sops.tftest.hcl
  e2e/sops/.sops.yaml
  e2e/sops/api-keys.enc.json
  e2e/sops/secrets.enc.env
  e2e/sops/test.agekey
Due: terraform-format

Add SOPS integration documentation to README
  README.md
Due: none

Add weekly schedule to test and E2E workflows
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: actionlint

Add SOPS encrypted files support (#3)
  .github/workflows/e2e.yml
  README.md
  e2e/main.tf
  e2e/outputs.tf
  e2e/sops.tftest.hcl
  e2e/sops/.sops.yaml
  e2e/sops/api-keys.enc.json
  e2e/sops/secrets.enc.env
  e2e/sops/test.agekey
  e2e/variables.tf
  e2e/versions.tf
  locals.tf
  main.tf
  outputs.tf
  variables.tf
  versions.tf
Due: actionlint, terraform-format

Add weekly schedule to test and E2E workflows (#4)
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: actionlint

Add support for PVC input
  main.tf
  tests/volumes.tftest.hcl
  variables.tf
Due: terraform-format

PVC support (#5)
  main.tf
  tests/volumes.tftest.hcl
  variables.tf
Due: terraform-format

Add full nginx canary annotations support
  locals.tf
  variables.tf
Due: terraform-format

Add full nginx canary annotations support (#6)
  locals.tf
  variables.tf
Due: terraform-format

Migrate Datadog autodiscovery annotations to v2 format
  README.md
  examples/with-datadog/main.tf
  modules/datadog/main.tf
  modules/datadog/variables.tf
  tests/datadog.tftest.hcl
  variables.tf
Due: terraform-format

Migrate Datadog autodiscovery annotations to v2 format (#7)
  README.md
  examples/with-datadog/main.tf
  modules/datadog/main.tf
  modules/datadog/variables.tf
  tests/datadog.tftest.hcl
  variables.tf
Due: terraform-format

Add copilot-setup-steps.yml for Copilot agent environment (#9)
  .github/workflows/copilot-setup-steps.yml
Due: actionlint

Add sidecar_containers variable to support multi-container pods with port exposure (#8)
  README.md
  e2e/deployment.tftest.hcl
  e2e/main.tf
  e2e/variables.tf
  examples/with-sidecar-containers/main.tf
  examples/with-sidecar-containers/outputs.tf
  examples/with-sidecar-containers/versions.tf
  locals.tf
  main.tf
  tests/sidecar_containers.tftest.hcl
  variables.tf
Due: terraform-format

Add ALB mode for the Ingress
  README.md
  locals.tf
  main.tf
  tests/alb.tftest.hcl
  variables.tf
Due: terraform-format

Add ALB mode for the Ingress (#14)
  README.md
  locals.tf
  main.tf
  tests/alb.tftest.hcl
  variables.tf
Due: terraform-format

Expose probe timeoutSeconds and failureThreshold
  README.md
  main.tf
  tests/probes.tftest.hcl
  variables.tf
Due: terraform-format

Expose probe timeoutSeconds and failureThreshold (#16)
  README.md
  main.tf
  tests/probes.tftest.hcl
  variables.tf
Due: terraform-format

Add optional node_affinity for node placement
  README.md
  main.tf
  tests/node_affinity.tftest.hcl
  variables.tf
Due: terraform-format

Add optional node_affinity for node placement (#17)
  README.md
  main.tf
  tests/node_affinity.tftest.hcl
  variables.tf
Due: terraform-format

Expose node_selector and pod_affinity
  README.md
  main.tf
  tests/pod_affinity.tftest.hcl
  variables.tf
Due: terraform-format

Expose node_selector and pod_affinity (#18)
  README.md
  main.tf
  tests/pod_affinity.tftest.hcl
  variables.tf
Due: terraform-format

Add raw pod anti-affinity input and topology spread constraints
  README.md
  examples/full-featured/main.tf
  main.tf
  tests/anti_affinity.tftest.hcl
  tests/topology_spread.tftest.hcl
  variables.tf
Due: terraform-format

Add raw pod anti-affinity input and topology spread constraints (#19)
  README.md
  examples/full-featured/main.tf
  main.tf
  tests/anti_affinity.tftest.hcl
  tests/topology_spread.tftest.hcl
  variables.tf
Due: terraform-format

Render pod tolerations on the workload Deployment
  README.md
  main.tf
  tests/tolerations.tftest.hcl
  variables.tf
Due: terraform-format

Render pod tolerations on the workload Deployment (#20)
  README.md
  main.tf
  tests/tolerations.tftest.hcl
  variables.tf
Due: terraform-format

Use a neutral example taint key in the tolerations test
  tests/tolerations.tftest.hcl
Due: terraform-format
